@charset "utf-8";

.site-title {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 32px;
  display: flex;
  justify-content: center;

  color: white;
  background-color: grey;
}

.site-contents {
  ul {
    width: 100%;
    height: 50px;
    padding-left: 0%;
    margin-bottom: 0%;
  }

  li {
    width: 20%;
    list-style-type: none;
    display: inline;
    float: left;

    a {
      margin-left: 0%;
      padding: 5px 0px 0px 0px;
      color: black;
      background-color: lightgray;
      text-decoration: none;

      display: block;
      height: 35px;
      text-align: center;

      &:hover {
        color: white;
        background-color: darkgray;
      }
    }
  }
}

.root {
  background-color: white;
}

.main-body {
  font-family: sans-serif;
  line-height: 1.5;
  color: black;
  padding-top: 5%;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;

  .news {
    width: 20em;
    border: 2px solid black;
    padding: 15px 15px 15px 15px;
    margin-right: 0px;
    margin-bottom: 1em;
    overflow: auto;

    p {
      margin-bottom: 0px;
    }
  }

  .input-dummy {
    visibility: hidden;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: darkgrey;
      text-decoration: underline darkgrey;
    }
  }
}

textarea {
  width: 50%;
}

.about-contents {
  list-style: none;

  h4 {
    text-decoration: underline black;
  }
}

footer {
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
  background-color: grey;
  padding-top: 5px;
}
