@charset "utf-8";

.root {
  background-color: white;
}

.main-body {
  font-family: sans-serif;
  line-height: 1.5;
  color: black;
  padding-top: 5%;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;

  .input-dummy {
    visibility: hidden;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: darkgrey;
      text-decoration: underline darkgrey;
    }
  }
}

.home-card {
  margin: 12px;
}

textarea {
  width: 50%;
}

footer {
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: black;
  background-color: white;
  padding-top: 5px;
}